@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


body {
    font-family: 'Open Sans', sans-serif;

}

.header {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 20;
}

.header .logo {
    position: relative;
}

.header .logo p {
    font-size: 4rem;
    font-weight: 900;
}

.header .logo span {
    color: #831D82;
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 4rem;
    position: absolute;
    top: 8px;
    right: 0;
}

.header ul {
    display: flex;
    align-items: flex-end;
    transform: translateY(-10px);
}

.header li {
    margin: 0 30px;
    letter-spacing: 3px;
    font-size: 0.9rem
}

.header li a {
    color: #222;
    transition: all 0.3s;
}

.header li a:hover {
    color: #831D82;
    
}

.section-1 {
    height: 100vh;
    width: 100%;
    background-image: url(./images/section_1_bwjpg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-1 .logo {
    position: relative;
}

.section-1 .logo p {
    font-size: 5rem;
    color: #fff;
    font-weight: 900;
    letter-spacing: 20px;
}

.section-1 .logo span {
    color: #831D82;
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 6rem;
    position: absolute;
    top: 8px;
    right: 10px;   
}

.section-1 .btn {
    transform: translateY(80px);
    height: 50px;
    width: 150px;
    border: none;
    background: #000;
    color: #fff;
    font-weight: 900;
    letter-spacing: 3px;
    border: 2px solid rgba(255, 255, 255, 0.7);;
    transition: all 0.5s;
    cursor: pointer;
}

.section-1 .btn:hover {
    background: rgba(255, 255, 255, 0.7);
    color: #000;
}

.section-2 {
    height: 50vh;
    width: 100%;
    display: flex;
}


.section-2 img {
    flex: 1;
    height: 100%;
    width: 33%;
    padding: 3px 0;
    
}

.section-2 img:nth-of-type(1) {
    padding-right: 1.5px; 
}

.section-2 img:nth-of-type(2) {
    padding: 3px 3px;
}

.section-2 img:nth-of-type(3) {
    padding-left: 1.5px; 
}

.section-3 {
    height: 50vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.section-3::before {
    content: "GET 20% OFF";
    position: absolute;
    height: 50px;
    width: 170px;
    background: #831D82;
    color: #000;
    bottom: -25px;
    left: -60px;
    transform: rotateZ(270deg);
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-style: italic;
    font-weight: 600;
    z-index: 5;
}

.section-3 h1 {
    color: #831D82;
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    transform: translateY(-15px);
}

.section-3 p {
    width: 65%;
    line-height: 30px;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
}

.section-4 {
    min-height: 100vh;
    color: #fff;
    display: flex;
    position: relative;
}

.section-4 > div {
    display: flex;
    /* width: 50%; */
    flex: 1;
    /* height: 100%; */
}

.section-4 .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/section_4_2_bw.jpg);
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
}

.section-4 .logo {
    position: relative;
}

.section-4 .logo p {
    font-size: 3rem;
    color: #fff;
    font-weight: 900;
    letter-spacing: 20px;
}

.section-4 .logo span {
    color: #831D82;
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 5rem;
    position: absolute;
    top: 8px;
    right: 10px;   
}

.section-4 .txt-wrapper {
    background-image: url(./images/sectiob_4_txt_2.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    position: relative;
    
}

.section-4 .txt-wrapper::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.section-4 .txt-wrapper span {
    font-size: 8rem;
}

.section-4 .txt-wrapper > * {
    z-index: 20;
}

.section-5 {
    min-height: 100vh;
    border-top: 3px dashed #fff;
    height: auto;
    background-color: #000;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 70px 0;
    flex-wrap: wrap;
    
}

.section-5 .menu-list {
    padding-bottom: 20px;
    flex-basis: 510px;
    margin-bottom: 10px;
    position: relative;
}

.section-5 .menu-list::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: #fff;
    bottom: 0;
}

.section-5 .menu-item-title {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.section-5 .menu-category {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}



.menu-item ul {
    display: flex;
    flex-wrap: wrap;
    width: 360px;

}

.menu-item li {
    margin-right: 3px;
    font-size: 0.9rem;
}

.section-6 {
    width: 100%;
    height: 50vh;
}